version: '3'
services:
  nginx:
    build:
      context: ./
      dockerfile: Dockerfile.nginx
    container_name: tkd_trivia_nginx
    volumes:
        - ./nginx:/var/www
    ports:
        - "7085:80"
    links:
        - web

  web:
    build:
      context: ./
      dockerfile: Dockerfile.web
    container_name: tkd_trivia_web
    volumes:
      - ./src:/var/www
    depends_on:
      - database

  database:
    image: mysql:5.6
    container_name: tkd_trivia_db
    volumes:
      - ./mysql/data:/var/lib/mysql
    environment:
        - "MYSQL_ROOT_PASSWORD=1234"
        - "MYSQL_DATABASE=tkd_trivia"
    ports:
        - "3306:3306"